nav {
  padding: 0 1rem;
  background: var(--bg-light-blue);
  width: 100%;
  height: var(--navbar-height);
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;

  &>div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &>div.left {
    flex: 1;
    justify-content: left;
  }

  &>div.right {
    flex: 1;
    justify-content: right;
    gap: 2em;
    padding-right: 1em;
  }

  & a {
    color: inherit;
    text-decoration: none;
  }

  & p {
    font-size: 0.8em;
    font-weight: 500;
  }

  & .icon-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0em;

    & * {
      color: inherit;
    }

    &:hover {
      color: var(--light-blue);
    }
  }

  & .logo_container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 1em;

    & :hover {
      cursor: pointer;
      color: var(--light-blue);
    }

    & .logo {
      width: 2em;
      height: 2em;
    }

    & .logo_text {
      @media (max-width: 420px) {
        display: none;
      }
    }
  }
}
